<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		#student_details label{
			display: block;		}
	</style>
	<script src="js/angular.js"></script>
	
</head>
<body ng-app="myApp">
    <div class="header" ng-controller="MainController">
      <div class="container">
        <h1>{{ title | lowercase}}</h1>
        <p>{{data | uppercase}}</p>
        <p>{{cost | currency}}</p> <!-- $100.00 -->
       	<p>Current Date : {{pubdate | date}}</p> <!-- Current Date -->
       	Book Details :
       	<div ng-repeat="product in products"> 
		  <!-- <div class="thumbnail"> 
		    <p class="title">{{ product.name }}</p> 
		    <p class="price">{{ product.price | currency }}</p> 
		    <p class="date">{{ product.pubdate | date }}</p> 
		  </div> -->
		  
		  <table>
			<tr>
			<td>{{ product.name }}</td>
			<td>{{product.price | currency  }}</td>
			<td>{{  product.pubdate | date  }}</td>
			</tr>
		  </table>
		</div>
      </div>
    </div>

    <div class="header" ng-controller="MainController_student">
      <div class="container">
      <h1>Student Details </h1>
      	<div id="student_details"></div>
      </div>
    </div>

    <div class="product" ng-controller='productController' >
    	<h1> {{title}} </h1>
    	<h3> {{data}} </h3>
    	<div class="prodcuts">
    	<table colspan='5'>
    		<thead>
    			<tr>
	    			<td> Product Id </td>
	    			<td> Product Name </td>
	    			<td> Product Description </td>
	    			<td> Product Cost</td>
	    			<td> Product Status </td>
    			</tr>
			</thead>
    		<tbody ng-repeat="product in product_detail">
    			<tr>
	    			<td> {{product.product_id}} </td>
	    			<td> {{product.product_name | uppercase}} </td>
	    			<td> {{product.product_desc}} </td>
	    			<td> {{product.product_cost | currency}} </td>
	    			<td> {{product.product_status}} </td>
    			</tr>
    		<tbody>
    	</table>
    </div>
    </div>

	


	<script src="js/app.js"></script>
	<script src="js/Controllers.js"></script>
</body>
</html>